<% provide(:title, 'Accueil') %>
<h1>Bienvenue sur BiomeTTico!</h1>


<h3>Biomédecine - Traduction et Terminologie - Cognition</h3>

<div id="texte"><p>BiomeTTico est un site mis en oeuvre par Sylvie Vandaele, professeure titulaire à l'Université de Montréal, et plusieurs étudiants ayant travaillé dans son équipe. Il se veut une ressource accessible aux professionnels, mais il est dédié en priorité à l’apprentissage des processus de traduction dans le domaine biomédical. C'est pour cette raison qu'il est construit de manière à guider les étapes clés de la réflexion. Mais attention! Il ne résoudra pas tous les problèmes!</p>

<p>Le site contient différentes ressources destinées à vous en faire expérimenter l’usage, mais aussi les limites. En aucun cas, il ne se veut une ressource fermée&nbsp;: lorsque ce que vous cherchez ne s’y trouve pas, il faut chercher ailleurs… dans des sources de qualité, bien sûr!</p>

<p>Trois choix s’offrent à vous&nbsp;: 
<ul>
<li>Si vous ne connaissez pas le site, commencez par explorer les questions dans les phylactères&nbsp;: les fenêtres contextuelles vous guideront vers la solution.</li>
<li>Si les exemples vous inspirent davantage, repérez les mots colorés du texte de la page <%= link_to 'exemple d\'utilisation', :action => 'exemple_d_utilisation'%>&nbsp;: les bulles d'aide vous expliqueront quelles sont les questions que vous pourriez vous poser et vous guideront vers les ressources appropriées.</li>
<li>Bien entendu, vous pouvez accéder aux différentes ressources directement par leurs onglets respectifs.</li></ul></p>

<p>Ce site est <em>votre</em> site&nbsp;: faites-le évoluer! Si vous repérez des liens invalides, veuillez nous le signaler à l’adresse <a href="mailto:sylvie.vandaele@umontreal.ca">sylvie.vandaele@umontreal.ca</a>. N'hésitez-pas à nous faire    connaître vos trouvailles, elles y trouveront sûrement leur place.</p>

<p>Les détails sur l'enseignement et les travaux de S. Vandaele sont accessibles sur <a href="http://web.me.com/tris.kell.30/PageVandaels/Accueil.html">son site</a>. Elle tient également un blogue linguistique, <a href="http://www.biomettico.info/Biomettico.info/Accueil.html">Biomettico.info</a>.</p></div>
