<h1>Contact</h1>
<%= image_tag "sylvie_vandaele.jpg", :size => "171x187"%>
<h2>Sylvie Vandaele, Ph.D.</h2>
<p>Professeure titulaire</p>

<p><a href="mailto:sylvie.vandaele@umontreal.ca">sylvie.vandaele@umontreal.ca</a></p>

<p>Département de linguistique et de traduction<br/>
	C.P. 6128, succ. Centre-ville<br/ >
   Montréal (Québec) H3C 3J7<br/ >
   Téléphone : (514) 343-7378<br/ >
   Télécopieur : (514) 343-2284</p>
